---
layout: _layouts/_base-layout
pageTitle: Documentos
---

<style>
    .artist-documents {
        margin: 30px auto 30px auto;
    }
    
    .artist-documents > h3 {
        color: #555; 
    }
</style>

<h1 class="text-center">Documentos</h1>

<p>
En esta sección el lector encontrará reproducciones facsimilares, o vínculos de acceso a páginas que alojan facismilares, de 
de los autógrafos originales, tanto de Wilde como de Pessoa – <a href="https://www.themorgan.org/collection/Oscar-Wilde">conservados en la Morgan Library</a> de Nueva York y 
en la <a href="https://bndigital.bnportugal.gov.pt/project/pessoa-fernando-1888-1935/">Biblioteca Nacional de Portugal, en Lisboa</a>, respectivamente. 
Las imágenes de los documentos están acompañadas de transcripciones diplomáticas, traducidas al español, que permiten acompañar diferentes etapas de composición y revisión de los textos. 
</p>


<p>
Para las transcripciones de los manuscritos y documentos autógrafos usamos las siguientes convenciones:
Convenciones:
</p>

<ul>
    <li>□ laguna en el texto</li>
    <li>/palabra/ palabra puesta en duda por el autor</li>
    <li>[↑ ↓] Texto añadido por el autor en la entrelínea superior o inferior </li>
    <li>[← →] Texto añadido en la márgen izquierda o derecha de la hoja </li>
    <li>&lt;a&gt;/A\ Palabra o letra sobrescrita</li>
</ul>

<strong> Los tachados y subrayados son originales de los manuscritos. </strong>


<h2 style="margin-top: 40px;">
    Lista de documentos
</h2>

<section class="artist-documents">
    <h3>
        Pessoa
    </h3>
    <ul>
        <li><a href="/documentos/pessoa/el-artista">Pessoa - El artista</a></li>
        <li><a href="/documentos/pessoa/el-artista-primera">Pessoa - El artista primera</a></li>
        <li><a href="/documentos/pessoa/el-discipulo">Pessoa - El discípulo</a></li>
        <li><a href="/documentos/pessoa/el-maestro">Pessoa - El maestro</a></li>
    </ul>
</section>

<section class="artist-documents">
    <h3>
        Wilde
    </h3>
    
    <ul>
        <li><a href="/documentos/wilde/el-artista">Wilde - El artista</a></li>
    </ul>
</section>
