---
layout: _layouts/_documents-layout
pageTitle: El artista - Fernando Pessoa
xmlFileLink: /xml/documentos/Documento_Pessoa_El_artista_limpio.xml
---

<style>
#images-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}

#images-container > div {
    min-width: 300px;
    width: 45%;
}

@media screen and (max-width: 650px) {
    #images-container > div {
        flex-grow: 0.5;
    }
}
</style>

<h4 class="text-center">Imágenes Adjuntas</h4>

<div id="images-container">
    <div>
        <div class="image">
            <a href="/assets/img/facsimiles/Pessoa-O_Artista_1.jpg">
                <img
                    src="/assets/img/facsimiles/Pessoa-O_Artista_1.jpg"
                    alt="Pessoa - El Artista - Imagen 1"
                    width="100%"
                />
            </a>
        </div>
        <div class="legend text-center">
            <p class="text-center">Legend of the image 01</p>  
        </div>
    </div>
    <div>
        <div class="image">
            <a href="/assets/img/facsimiles/Pessoa-O_Artista_2.jpg">
                <img
                    src="/assets/img/facsimiles/Pessoa-O_Artista_2.jpg"
                    alt="Pessoa - El Artista - Imagen 2"
                    width="100%"
                />
            </a>
        </div>
        <div class="legend text-center">
            <p class="text-center">Legend of the image 02</p>  
        </div>
    </div>
</div>

<div id="document-translation">
    <div class="row">
        <div class="six columns">
            <h2><u>O artista</u></h2>
        </div>
        <div class="six columns">
            <h2><u>El artista</u></h2>
        </div>
    </div>


    <!-- Paragraph 1 -->
    <div class="row">
        <div class="six columns">
            <p class="indent-first">
                Uma tarde veio-lhe á alma o <br />
                desejo de talhar uma imagem do <br />
                <u>Prazer que dura um momento</u>. E <br />
                foi mundo fóra á procura de bron- <br />
                ze. Porque não pensava senão por bronze.
            </p>
        </div>
        <div class="six columns">
            <p class="indent-first">
                Una tarde le vino al alma el <br />
                deseo de tallar una imagen del <br />
                <u>Placer que dura un momento</u>. Y <br />
                fue por el mundo fuera en busca de bron- <br />
                ce. Porque no pensaba sino con bronce.
            </p>
        </div>
    </div>


    <!-- Paragraph 2 -->
    <div class="row">
        <div class="six columns">
            <p class="indent-first">
                Mas todo o bronze de todo o mun- <br />
                do tinha desapparecido, nem em <br />
                qualquér parte do mundo se encon- <br />
                trava bronze a não ser o bronze da <br />
                imagem da <u>Tristeza que sempre dura</u>.
            </p>
        </div>
        <div class="six columns">
            <p class="indent-first">
                Pero todo el bronce de todo el mun- <br />
                do había desaparecido, ni en <br />
                cualquier parte del mundo se encon- <br />
                traba bronce a no ser el bronce de <br />
                la imagen de la <u>Tristeza que siempre dura</u>.
            </p>
        </div>
    </div>



    <!-- Paragraph 3 -->
    <div class="row">
        <div class="six columns">
            <p class="indent-first">
                Ora a esta imagem tinha-a <br />
                elle proprio, e com sua proprias <br />
                mãos, talhado, e tinha-a posto <br />
                sobre o tumulo da unica cousa que <br />
                amára na vida. No tumulo da <br />
                unica cousa que amára tinha posto <br />
                esta imagem de seu talhar, para <br />
                que servisse de typo do amor huma- <br />
                no que não morre, e de symbolo da tristeza humana que sempre dura. <br />
                E em todo o mundo não havia bronze a não ser o bronze d’esta imagem.
            </p>
        </div>
        <div class="six columns">
            <p class="indent-first">
                Entonces a esta imagen la había <br />
                él mismo, y con sus propias <br />
                manos, tallado, y la había puesto <br />
                sobre el túmulo de la única cosa que <br />
                amara en la vida. En el túmulo de la <br />
                única cosa que amara había puesto <br />
                esta imagen de su tallar, para <br />
                que sirviera de tipo del amor huma- <br />
                no que no muere, y de símbolo de la tristeza humana que siempre dura. <br />
                Y en todo el mundo no había bronce a no ser el bronce de esta imagen.
            </p>
        </div>
    </div>

    <!-- Paragraph 4 -->
    <div class="row">
        <div class="six columns">
            <p class="indent-first">
                E pegou na imagem que talhára <br />
                e pôl-a n’uma fornalha e deu-a ao fogo.
            </p>
        </div>
        <div class="six columns">
            <p class="indent-first">
                Y tomó la imagen que tallara <br />
                y la puso en una fragua y la dio al fuego.
            </p>
        </div>
    </div>


    <!-- Paragraph 5 -->
    <div class="row">
        <div class="six columns">
            <p class="indent-first">
                E do bronze da imagem da <u>Tris- <br />
                teza que sempre dura</u> talhou [↑ elle]<!-- JU:ver decisición--> uma <br />
                imagem do Prazer que dura um momento.
            </p>
        </div>
        <div class="six columns">
            <p class="indent-first">
                Y del bronce de la imagen de la <hi rend="underline">Tris- <br />
                teza que siempre dura</hi> talló [↑ él] <br />
                imagen del <u>Placer que dura un momento</u>.
            </p>
        </div>
    </div>
</div>
