---
layout: _layouts/_documents-layout
pageTitle: El artista (limpio) - Fernando Pessoa
xmlFileLink: /xml/documentos/Documento_Pessoa_El_artista_limpio.xml
---

<div class="four columns">
    <div style="margin-top: 100px;">
        <a href="/assets/img/facsimiles/Pessoa-O-Artista-primeira-v.jpg">
            <img
                src="/assets/img/facsimiles/Pessoa-O-Artista-primeira-v.jpg"
                alt="Pessoa - El Artista limpio"
                width="100%"
            />
        </a>
    </div>
</div>

<div class="eight columns">
    <div class="row">
        <div class="six columns">
            <h2><u>O artista</u></h2>
        </div>
        <div class="six columns">
            <h2><u>El artista</u></h2>
        </div>
    </div>


    <!-- Paragraph 1 -->
    <div class="row">
        <div class="six columns">
            <p class="indent-first">
                <pre>
    Uma tarde veio-lhe á alma o
desejo de talhar uma imagem do
<u>Prazer que dura um momento</u>. E
foi mundo fóra á procura de bron-
ze. Porque não pensava senão por bronze.
                </pre>
            </p>
        </div>
        <div class="six columns">
            <p class="indent-first">
                <pre>
    Una tarde le vino al alma el
deseo de tallar una imagen del <u>Placer que dura un momento</u>. Y
fue por el mundo fuera en busca de bron-
ce. Porque no pensaba sino con bronce.
                </pre>
            </p>
        </div>
    </div>


    <!-- Paragraph 2 -->
    <div class="row">
        <div class="six columns">
            <p class="indent-first">
                <pre>
    Mas todo o bronze de todo o mun-
do tinha desapparecido, nem em
qualquér parte do mundo se encon-
trava bronze a não ser o bronze da
imagem da <u>Tristeza que sempre dura</u>.
                </pre>
            </p>
        </div>
        <div class="six columns">
            <p class="indent-first">
                <pre>
    Pero todo el bronce de todo el mun-
do había desaparecido, ni en cualquier parte del mundo se encon-
traba bronce a no ser el bronce de la imagen de la <u>Tristeza que siempre dura</u>.
                </pre>
            </p>
        </div>
    </div>



    <!-- Paragraph 3 -->
    <div class="row">
        <div class="six columns">
            <p class="indent-first">
                <pre>
    Ora a esta imagem tinha-a
elle proprio, e com sua proprias
mãos, talhado, e tinha-a posto
sobre o tumulo da unica cousa que
amára na vida. No tumulo da
unica cousa que amára tinha posto
esta imagem de seu talhar, para
que servisse de typo do amor huma-
no que não morre, e de symbolo da tristeza humana que sempre dura.
E em todo o mundo não havia bronze a não ser o bronze d’esta imagem.
                </pre>
            </p>
        </div>
        <div class="six columns">
            <p class="indent-first">
                <pre>
    Entonces a esta imagen la había
él mismo, y con sus propias
manos, tallado, y la había puesto
sobre el túmulo de la única cosa que
amara en la vida. En el túmulo de la
única cosa que amara había puesto
esta imagen de su tallar, para
que sirviera de tipo del amor huma-
no que no muere, y de símbolo de la tristeza humana que siempre dura.
Y en todo el mundo no había bronce a no ser el bronce de esta imagen.
                </pre>
            </p>
        </div>
    </div>

    <!-- Paragraph 4 -->
    <div class="row">
        <div class="six columns">
            <p class="indent-first">
                <pre>
    E pegou na imagem que talhára
e pôl-a n’uma fornalha e deu-a ao fogo.
                </pre>
            </p>
        </div>
        <div class="six columns">
            <p class="indent-first">
                <pre>
    Y tomó la imagen que tallara
y la puso en una fragua y la dio al fuego.
            </pre>
            </p>
        </div>
    </div>


    <!-- Paragraph 5 -->
    <div class="row">
        <div class="six columns">
            <p class="indent-first">
                <pre>
    E do bronze da imagem da <u>Tris-
teza que sempre dura</u> talhou [↑ elle]<!-- JU:ver decisición--> uma
imagem do Prazer que dura um momento.
                </pre>
            </p>
        </div>
        <div class="six columns">
            <p class="indent-first">
                <pre>
    Y del bronce de la imagen de la <hi rend="underline">Tris-
teza que siempre dura</hi> talló [↑ él]
imagen del <u>Placer que dura un momento</u>.
                </pre>
            </p>
        </div>
    </div>
</div>
