<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Poema 4</title>

        <!-- 
            TODO: 
            1. Correct this links. Leave only the necessary. 
            2. Load css files from css dir (not being used by now)
        -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/skeleton.css">

        <link rel="stylesheet" href="https://raw.githubusercontent.com/dhg/Skeleton/master/css/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="three columns">
                    <h4>The Artist</h4>
                    <p>Now this image he had himself, and with his own hands, fashioned, and had set it on the tomb of the one thing he had loved in life. On the tomb of the dead thing he had most loved had he set this image of his own fashioning, that it might serve as a sign of the love of man that dieth not, and a symbol of the sorrow of man that endureth for ever. And in the whole world there was no other bronze save the bronze of this image.</p>
                </div>
                <div class="three columns">
                    <h4>El artista</h4>
                    <p>Y él mismo había moldeado esta imagen con sus propias manos, para ponerla sobre la tumba de la única cosa que había amado. Sobre la tumba de aquello que más había amado y que ahora estaba muerto, él puso la imagen que él mismo había moldeado para que sirviera como testigo del amor del hombre, que no muere, y como símbolo del dolor del hombre, que dura para siempre. Y en todo el mundo no existía más bronce, salvo el de esta imagen.</p>
                </div>
                <div class="three columns">
                    <h4>O artista</h4>
                    <p>Ora esta imagem tinha-a elle proprio, e com sua proprias mãos, talhado, e tinha a posto sobre o tumulo da unica cousa que amára na vida. No tumulo da unica cousa que amára tinha posto esta imagem de seu talhar, para que servisse de typo do amor humano que não morre, e de symbolo da tristeza humana que sempre dura. E em todo o mundo não havia bronze a não ser o bronze d’esta imagem.</p>
                </div>
                <div class="three columns">
                    <h4 class="center">El artista</h4>
                    <p>Entonces a esta imagen la había él mismo, y con sus propias manos, tallado, y la había puesto sobre el túmulo de la única cosa que amara en la vida. En el túmulo de la única cosa que amara pusiera esta imagen de su tallar, para que sirviera de tipo del amor humano que no muere, y de símbolo de la tristeza humana que siempre dura. Y en todo el mundo no había bronce a no ser el bronce de esta imagen.</p>
                </div>
            </div>


            <div class="row">
                <div class="three columns">
                    <p>And he took the image he had fashioned, and set it in a great furnace, and gave it to the fire.</p>
                </div>
                <div class="three columns">
                    <p>Entonces tomó la imagen que había moldeado y, arrojándola a un gran horno, la ofreció al fuego.</p>
                </div>
                <div class="three columns">
                    <p>E pegou na imagem que talhára e pôl-a n’uma fornalha e deu-a ao fogo.</p>
                </div>
                <div class="three columns">
                    <p>Y tomó la imagen que tallara y la puso en una fragua y la dio al fuego.</p>
                </div>
            </div>


            <div class="row">
                <div class="three columns">
                    <p>Sit consectetur officiis nulla ipsum beatae. Obcaecati neque laudantium natus blanditiis laboriosam numquam. Tempore quia mollitia cupiditate ab omnis! Sit officia placeat aliquid temporibus ad? Hic ducimus culpa veniam perferendis temporibus Dolores beatae repellat non culpa perspiciatis Explicabo optio molestias voluptatem mollitia repudiandae Fuga recusandae iusto debitis excepturi consectetur Asperiores</p>
                </div>
                <div class="three columns">
                    <p>Sit sunt illo nostrum voluptates aliquam voluptatum? Maiores aut dolores ratione eos illum Officiis libero itaque odio voluptas officiis. Id amet nisi cum magnam velit A delectus fugit reiciendis quisquam non Possimus reprehenderit harum quidem magnam temporibus enim tenetur alias pariatur Commodi voluptatem odio vel illo tempora! Corporis voluptates pariatur id iure quod Commodi blanditiis placeat at neque nam. Animi ut aut tempora saepe libero Quis placeat quam repellat eum ea? Labore nobis alias sequi sint harum! A molestiae maxime quia eligendi in Cum veniam adipisci minus sint nisi dolorum expedita, reprehenderit? Accusamus sed unde quidem quo exercitationem? Incidunt atque!</p>
                </div>
                <div class="three columns">
                    <p>Adipisicing culpa atque ipsum natus recusandae. Cupiditate ipsum dolor voluptate.</p>
                </div>
                <div class="three columns">
                    <p>Lorem dolores velit voluptatibus maiores optio inventore Commodi quaerat dolor id debitis suscipit! Labore eligendi molestias numquam quam aperiam impedit</p>
                </div>
            </div>


            <div class="row">
                <div class="three columns">
                    <p>And he took the image he had fashioned, and set it in a great furnace, and gave it to the fire.</p>
                </div>
                <div class="three columns">
                    <p>Entonces tomó la imagen que había moldeado y, arrojándola a un gran horno, la ofreció al fuego.</p>
                </div>
                <div class="three columns">
                    <p>E pegou na imagem que talhára e pôl-a n’uma fornalha e deu-a ao fogo.</p>
                </div>
                <div class="three columns">
                    <p>Y tomó la imagen que tallara y la puso en una fragua y la dio al fuego.</p>
                </div>
            </div>
        </div>
    </body>
</html>
