---
layout: _layouts/_documents-layout
pageTitle: El artista - Oscar Wilde
xmlFileLink: /xml/documentos/wilde/Documento_Wilde_El_artista.xml
---

<!-- Document Content (Please avoid trailing commas as it cause rendering errors) -->

<!-- Links rendered on Top -->
{% set links = [ 
    { 
        
        legend: '"The Artist", page 1',
        facsPage: "(página 1)",
        href: "https://www.themorgan.org/collection/oscar-wilde/manuscripts-letters/13"
    },
    { 
        legend: '"The Artist", page 2',
        facsPage: "(página 2)",
        href: "https://www.themorgan.org/collection/oscar-wilde/manuscripts-letters/14"
    }
] 
%} 


<!-- The document -->
{% set document = [
    [ "The artist", "El artista" ],
    [
        '
            <span class="page-indicator facs-PA1"> (página 1) </span> <br />
        ',
        '
            <span class="page-indicator facs-PA1"> (página 1) </span> <br />
        '
    ],
    [
        '
            <del>He could only think in <br />
            bronze <br />
        ',
        '
            <del>Solo podía pensar en <br />
            bronce.</del> <br />
        '
    ],
    [
        '
            <del> And </del> [↑ One morning] there came <del>to him</del> [↑ <del>into</del>] [↑ <del>upon</del> into] his soul <del>the</del> [↑ <del>a</del>] [↑ the] desire <br />
            <del>idea</del> to fashion <del>an</del> [↑ <del>the</del>] [↑ an] image of <span class="underline">The</span> <br />
            <span class="underline"> Pleasure that lives [↑ abideth] for a Moment. </span> <br />
            And he went forth [↓ into the world] to look for <br />
            bronze. For he could [↓ only think in bronze.] <br />
        ',
        '
            <del>Y</del> [↑ Una mañana] entró <del>a él</del> [↑ <del>dentro</del>] [↑ <del>sobre</del> a] su alma el [↑ un] [↑ el] deseo <br />
            <del>idea</del> de moldear <del>una</del> [↑ <del>la</del>] [↑ una] imagen del  <br />
            <span class="underline">Placer que <del>vive</del> [↑ se fija] por un Instante.</span> <br />
            Y salió [↓ por el mundo] buscando <br />
            bronce. Pues [↓ solo en bronce podía pensar.] <br />
        '
    ],
    [
        '
            But all the bronze <del>in</del> [↑ of] the whole <br />
            world had disappeared, nor anywhere  <br />
            in the [↑ whole] world was there any bronze <br />
            to be found, save only the bronze <br />
            of the [↑ <del>bronze</del> great] image of <span class="underline">The Sorrow that <br />
            endureth for Ever.</span> <del>that he had <br />
            fashioned with his own hands  <br />
            for the tomb of the woman he had  <br />
            most loved in life.</del> <br />
        ',
        '
            Pero todo el bronce en [↑ del] entero <br />
            mundo había desaparecido, y en ningún lugar <br />
            en todo el [↑entero] mundo había ya cualquier bronce <br />
            a encontrar, salvo apenas el bronce <br />
            de la [↑ <del>bronce</del> gran] imagen de <span class="underline">La Tristeza que <br />
            dura para siempre</span> <del>que él había <br />
            moldeado con sus propias manos <br />
            para la tumba de la mujer que había <br />
            amado más en la vida.</del> <br />
        '
    ],
    [
        '
            Now this [↑ great ↑ <del>bronze</del>] image he had himself, <br />
            and with his own hands, fashioned, <br />
            and had set [↑ it] on the tomb of the one thing he had loved in life. <br />
            On the tomb of the dead thing <del>woman</del> [↑ thing] <br />
            he had [↑ most] loved had he set this <br />
            image of his own fashioning, that  <br />
            it might serve as a sign of the <br />
            Love [↑ of man] that dieth not and [↑ <del>as</del>] a symbol <br />
            of the Sorrow [↑ of <del>the</del> man] that endureth for ever. <br />
            And in the whole world there was  <br />
            no other bronze save the bronze of <br />
            this image. <br />
        ',
        '
            Y esta [↑ gran ↑ <del>bronce</del>] imagen él mismo había, <br />
            y con sus propias manos, moldeado, <br />
            y [↑ la] había puesto sobre la tumba de la única cosa que había amado en la vida. <br />
            Sobre la tumba de <del>la mujer</del> [↑ aquello] <br />
            que había amado [↑ más] él había puesto esta <br />
            imagen que él mismo había moldeado, para que <br />
            sirviera como testigo del <br />
            amor [↑ del hombre], que no muere, y [↑ <del>como</del>] un símbolo <br />
            del dolor [↑ del <del>un</del> hombre] que dura para siempre. <br />
            Y en todo el mundo no existía <br />
            más bronce salvo el de <br />
            esta imagen. <br />
        '
    ],
    [
        '
            So he took the [↑ <del>bronze</del>] image he had fashioned and <del>gave it to the</del> <br />
            <span class="page-indicator facs-PA2"> (página 2) </span> <br />
            <del>fire and</del> set it in a great <br />
            furnace, and gave it to the fire. <br />
        ',
        '
            Entonces tomó <del>el bronce</del> la imagen que había moldeado y <del>se la dio al</del> <br />
            <span class="page-indicator facs-PA2"> (página 2) </span> <br />
            <del>fuego y</del> la puso en un gran <br />
            horno, y lo ofreció al fuego. <br />
        '
    ],
    [
        '
            And out of the bronze of the image of <span class="underline">The Sorrow that endureth <br />
            for Ever</span> he fashioned the image <br />
            of <span class="underline">The Pleasure that abideth for <br />
            a Moment.</span> For [↓ he could only think in bronze.] <br />
        ',
        '
            Y del bronce de la imagen de <span class="underline">La tristeza que dura <br />
            para siempre</span> él moldeó la imagen <br />
            del <span class="underline">Placer que se fija en <br />
            un Instante</span>. Porque [↓ solo podía pensar en bronce.] <br />
        '
    ]
]
%}

<style>
.page-indicator {
  display: block;
  width: 30%;
  margin-left: auto;
  font-weight: bold;
}
.wilde-document-link {
  margin-right: 15px;
}
.facs-page {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}
</style>

{% if links.length > 0  %}
<h4 class="text-center">Referencias externas del documento</h4>
{% endif %}

<!-- Links rendered on Top -->
<div id="links-container">
    <ul>
        {% for link in links %}
            <li class="text-center">
                <a class="wilde-document-link" href="{{ link.href }}" target="_blank">{{ link.legend }}</a>
                <span class="facs-page">{{ link.facsPage }}</span>
            </li>
        {% endfor %}
    </ul>
</div>

<div id="document-content">
    <!-- The document -->
    {% for row in document %}
        <div class="row">
            {% set isFirstRow = loop.first %}

            {% for paragraph in row %}
                {% if isFirstRow %}
                    {% set title = paragraph %}
                    <div class="six columns">
                        <h2>{{ title }}</h2>
                    </div>
                {% else %}
                    <div class="six columns">
                        <p class="indent-first">{{ paragraph | safe }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
