---
layout: _layouts/_documents-wilde
pageTitle: El Maestro - Oscar Wilde
xmlFileLink: /xml/documentos/wilde/Documento_Wilde_El_maestro.xml
links: [ 
    { 
        legend: '"The Master", ',
        facsPage: "page 1",
        href: "https://www.themorgan.org/collection/oscar-wilde/manuscripts-letters/20"
    },
    { 
        legend: '"The Master", ',
        facsPage: "page 2",
        href: "https://www.themorgan.org/collection/oscar-wilde/manuscripts-letters/21"
    }
] 

document: [
    [ "The Master", "El Maestro" ],
    [
        '
            <span class="page-indicator facs-PA1"> (Page 1) </span> <br />
        ',
        '
            <span class="page-indicator facs-PA1"> (Page 1) </span> <br />
        '
    ],
    [
        '
            Now when the <del>great black</del> <br />
            darkness came over the earth Joseph of Arithmathea, having  <br />
            lighted a torch of pinewood, passed down [↓ from the hill] <br />
            into the valley. [↓ For he had business in his own home.] <br />
        ',
        '
            Entonces cuando las <del>grandes negras</del> <br />
            tinieblas se habían ceñido sobre la tierra José de Aritmatea, habiendo <br />
            encendido una antorcha de pino, bajó [↓ de la colina] <br />
            hacia el valle. [↓ Pues tenía asuntos en su propia casa.] <br />
        '
    ],
    [
        '
            And kneeling on the <br />
            flint-stones of the Valley of <br />
            Desolation he saw a young man <br />
            who was naked and weeping. His <br />
            hair was the colour of honey and <br />
            his body was as a white flower, <br />
            but he had wounded his body with <br />
            thorns and on his hair had he <br />
            set ashes as a crown. <br />
            And he who had great <br />
            possessions said to <del>him</del> [↑ the young man] who was  <br />
            naked and weeping, "I do not <br />
            wonder that your sorrow is so great. <br />
            For surely He was a just man." <br />
        ',
        '
            Y arrodillándose sobre los <br />
            pedernales del Valle de <br />
            la Desolación vio a un muchacho <br />
            desnudo que lloraba. Su <br />
            cabello era del color de la miel y <br />
            su cuerpo era como una flor blanca, <br />
            pero había lacerado su cuerpo con <br />
            espinas y había coronado <br />
            sus cabellos con cenizas. <br />
            Y él, que era un hombre muy rico, dijo al muchacho que estaba <br />
            desnudo y que lloraba: “No me <br />
            sorprende que tu dolor sea tan grande, <br />
            porque en verdad Él era un hombre justo”. <br />
        '
    ],
    [
        '
            <del>But</del> [↑ And] the young man answered, "It <br />
            is not for him that I am weeping, but for myself. I <del>too</del> also <br />
            have changed water into wine, and <br />
            I have healed the leper and given sight <br />
            to the blind. I have walked <br />
            upon the <del>waves of the sea</del> [↑ waters], and <br />
            from the dwellers in the tombs I <br />
            have cast out devils. I have fed the hungry <br />
            <del>on strange</del> [↑ in the desert where there was no] food, <br />
            and I have raised the dead from <br />
            <span class="page-indicator facs-PA1"> (Page 2) </span> <br />
            their narrow houses, and at my <br />
            bidding a barren fig tree withered away. <del>And yet they have not <br />
            crucified</del> All things that this  <br />
            man has done I have done <br />
            also. And yet they have not <br />
            crucified me. It is for that <br />
            reason I am weeping. <br />
        ',
        '
            <del>Pero</del> [↑ Y] el muchacho le respondió: “No  <br />
            es por Él que estoy llorando, sino por mí. Yo <del>asimismo</del> también                             <lb break="yes"/>have changed water into wine, and <br />
            transformé el agua en vino, y <br />
            yo también curé a los leprosos y les di la vista a los ciegos. Caminé <br />
            sobre <del>las olas del mar</del> [↑ las aguas], y <br />
            de los que habitan en las tumbas <br />
            expulsé demonios. Alimenté a los hambrientos <br />
            <del>en extrañas</del> [↑en el desierto, donde no había] comida, <br />
            y levanté a los muertos de <br />
            <span class="page-indicator facs-PA1"> (Page 2) </span> <br />
            de sus estrechas moradas, y bajo mis <br />
            órdenes una higuera estéril se marchitó. <del>Y aun así no me han <br />
            crucificado</del> Todas las cosas que hizo ese <br />
            hombre yo también las hice. <br />
            Y, aun así, <br />
            a mí no me han crucificado. Es por esa <br />
            razón que lloro. <br />
        '
    ],
    [
        '
            Oscar Wilde
        ',
        '
            Oscar Wilde
        '
    ]
]
---
