---
layout: _layouts/_documents-layout
pageTitle: El Tribunal - Oscar Wilde
xmlFileLink: /xml/documentos/wilde/Documento_Wilde_El_tribunal.xml
---

<!-- Document Content (Please avoid trailing commas as it cause rendering errors) -->

<!-- Links rendered on Top -->
{% set links = [ 
    { 
        legend: '"The House of Judgment", ',
        facsPage: "page 1",
        href: "https://www.themorgan.org/collection/oscar-wilde/manuscripts-letters/6"
    },
    { 
        legend: '"The House of Judgment", ',
        facsPage: "page 2",
        href: "https://www.themorgan.org/collection/oscar-wilde/manuscripts-letters/7"
    },
    { 
        legend: '"The House of Judgment", ',
        facsPage: "page 3",
        href: "https://www.themorgan.org/collection/oscar-wilde/manuscripts-letters/8"
    },
    { 
        legend: '"The House of Judgment", ',
        facsPage: "page 4",
        href: "https://www.themorgan.org/collection/oscar-wilde/manuscripts-letters/9"
    },
    { 
        legend: '"The House of Judgment", ',
        facsPage: "page 5",
        href: "https://www.themorgan.org/collection/oscar-wilde/manuscripts-letters/10"
    },
    { 
        legend: '"The House of Judgment", ',
        facsPage: "page 6",
        href: "https://www.themorgan.org/collection/oscar-wilde/manuscripts-letters/11"
    }
] 
%} 


<!-- The document -->
{% set document = [
    [ "The House of Judgement.", "El tribunal." ],
    [
        '
            <span class="page-indicator facs-PA1"> (Page 1) </span> <br />
        ',
        '
            <span class="page-indicator facs-PA1"> (Page 1) </span> <br />
        '
    ],
    [
        '
            And there was silence in the House of Judgment, and the Man came [↑ <br />
            naked] before God. <br />
            [And God opened the Book of the Life of the Man, and saw what <br />
            was written therein. <br />
        ',
        '
            Y hubo silencio en el Tribunal y el Hombre se presentó [↑ <br />
            Desnudo] ante Dios. <br />
            [Y Dios abrió el Libro de la Vida del Hombre, y vio lo que <br />
            estaba escrito adentro. <br />
        '
    ],
    [
        '
            And God said to the Man, "thy <br />
            life hath been evil, and thou hast <br />
            shown cruelty to those who were <br />
            in need of succour, and to those <br />
            who lacked help thou has\'t been <br />
            bitter and hard of heart. The poor <br />
            called to thee, and thou dids\'t not <br />
            <del>listen</del> [↑ hearken], and thine ears were closed <br />
            to the cry of the afflicted. <orig>The <br />
            gold that I gave thee thou dids\'t <br />
            hoard for thy pleasures, and the <br />
            hungry went hungry from <del>thine</del> thy <br />
            <del>house</del> [↑ courts] of ivory, and thou dids\'t beat <br />
            <del>away drive</del> the beggar from [↓the cool shadow of] thy gates.</orig> <br />
        ',
        '
            Y Dios le dijo al Hombre: “Tu <br />
            vida ha sido malvada, y tú te has <br />
            mostrado cruel ante los <br />
            que pedían socorro, y ante aquellos <br />
            que requerían ayuda has sido <br />
            recio y duro de corazón. Lo pobres <br />
            te llamaron y tú no <del>escuchaste</del> [↑ atendiste], tus oídos se cerraron <br />
            a los gritos de Mis afligidos. El oro <br />
            que te di lo atesoraste para tus placeres, y los  <br />
            hambrientos se quedaron con hambre por <del>tu</del> tus <br />
            <del>casa</del> [↑ cortes] de marfil, y echaste a golpes <br />
            <del>ahuyentaste</del> al mendigo de [↓ la fría sombra de] sus puertas.  <br />
        '
    ],
    [
        '
            The inheritance of the fatherless thou dids\'t take unto thyself, and                         <br />
            thou dids\'t send thy foxes into the <br />
            vineyard of thy neighbour\'s field. <br />
            Thou dids\'t take the bread of the <br />
            children and give it to the dogs <br />
            to eat, and the lepers who lived <br />
            in the marshes, <del>thou</del> and were at <br />
            peace and praised me, thou dids\'t <br />
            drive forth on to the highways. <br />
            <del>so that they were slain</del> Pity was <br />
            <span class="page-indicator facs-PA1"> (Page 2) </span> <br />
            <orig>not in thee, nor mercy of any kind. <br />
            Thou dids\'t trample on down the weak with <br />
            feet of iron</orig>, and on mine earth, out of which I made thee, thou <br />
            dids\'t spill <del>the</del> [↑ innocent] blood." <del>of the innocent.</del>" <br />
        ',
        '
            Usurpaste la herencia de los huérfanos y  <br />
            soltaste zorros sobre <br />
            la viña en el campo de tu prójimo.  <br />
            Tú robaste el pan a los <br />
            niños y lo diste de comer a los perros, <br />
            y a Mis leprosos, que vivían <br />
            en paz en los pantanos y Me alababan, tú los <br />
            arrastraste por los caminos. <br />
            <del>Para que fueran asesinados</del> La compasión no <br />
            <span class="page-indicator facs-PA1"> (Page 2) </span> <br />
            Vivía en ti, ni algún tipo de misericordia, <br />
            aplastaste a los débiles con <br />
            suelas de hierro, y sobre Mi tierra, de la que Yo a ti te hice, <br />
            derramaste <del>la</del> sangre [↑ inocente]. <del>de los inocentes.</del> <br />
        '
    ],
    [
        '
            <span class="page-indicator facs-PA1"> (Page 3) </span> <br />
        ',
        '
            <span class="page-indicator facs-PA1"> (Page 3) </span> <br />
        '
    ],
    [
        '
            And the Man <del>answered</del> [↑ made answer] and said, <br />
            "Even so did I." <br />
        ',
        '
            Y el Hombre respondió [↑respondiendo] dijo: <br />
            “Eso hice”. <br />
        '
    ],
    [
        '
            <lb break="yes"/>And again God opened the Book <br />
            of the Life of the Man, and saw <br />
            what was written therein. <br />
        ',
        '
            Y de nuevo Dios abrió el Libro <br />
            de la Vida del Hombre y vio <br />
            lo que estaba escrito adentro. <br />
        '
    ],
    [
        '
            And God said to the Man, "Thy <br />
            life hath been evil<orig>, as thou has\'t <br />
            <del>wrought</del> [↑ lain with] the seven sins.</orig> The walls  <br />
            of thy chamber were painted with  <br />
            images, and from the bed of thine <br />
            abominations thou dids\'t rise [↓ up] to <br />
            the sound of flutes. Thou dids\'t <br />
            <del>raise</del> [↓ build] seven altars to the sins I  <br />
            have sufferred, and dids\'t eat of <br />
            the things that may not be eaten. <br />
            <orig>The cups of thy feast were <del>full of</del> [↑ red with] the wine of sin, and in the <br />
            dishes there was poisonous honey,</orig> <br />
            and the purple of thy raiment <br />
            was broidered with the three signs <br />
            of shame. Thine idols were neither <br />
            of gold nor of silver, which endure, but of flesh that dieth. Thou <br />
            dids\'t stain their hair with <del>perfumes</del> [↑ colours], <br />
            a<add>n</add>d <del>put strange flowers into</del> [↑ set pomegranates in] their  <br />
            hands. Thou dids\'t stain their <br />
            feet with perfumes, and <del>set</del> <br />
            spread carpets before them. With antimony <br />
            thou dids\'t stain their eyelids, and <br />
            their bodies thou dids\'t smear <br />
            with myrrh. Thou dids\'t bow <br />
            thyself to the ground before them, <br />
            <span class="page-indicator facs-PA1"> (Page 4) </span> <br />
            <orig>and in groves and on high places  <br />
            thou didst worship them. In thine <br />
            idolatry</orig> thou dids\'t bow thyself <br />
            to the ground, and the thrones <br />
            of thine idols were set in the <br />
            sun. Thou dids\'t show to the <br />
            sun thy shame and to the moon <br />
            thy madness." <br />
        ',
        '
            Y Dios le dijo al Hombre: “Tu <br />
            vida ha sido malvada, como si <br />
            <del>le hubieras servido a</del> [↑ te hubieras acostado con] los siete pecados. Las paredes  <br />
            de tus aposentos estaban pintadas con <br />
            imágenes, y del lecho de tus <br />
            abominaciones te levantaste al <br />
            compás de flautas. <br />
            <del>Erigiste</del> [↑ Construiste] siete altares a los pecados que yo <br />
            he tolerado, y has comido <br />
            aquello que no se puede comer. <br />
            Las copas de tu festín eran <del>estaban llenas de</del> [↑ rojas por] el vino del pecado, y en los  <br />
            platos había miel venenosa, <br />
            y el púrpura de tus vestidos <br />
            fue bordado con las tres cruces <br />
            de la vergüenza. Tus ídolos no eran <br />
            de oro ni plata duraderos, sino de carne que muere. Tú <br />
            manchaste sus cabellos con <del>perfumes</del> [↑ colores], <br />
            <add>y</add> <del>colocaste flores aberrantes sobre</del> [↑ pusiste granadas en] sus  <br />
            manos. Tú manchaste sus pies con azafrán y <del>pusiste</del> <br />
            extendiste alfombras ante ellos. Con antimonio <br />
            manchaste sus párpados y <br />
            sus cuerpos untaste <br />
            de mirra. Tú te postraste <br />
            en el suelo ante ellos, <br />
            <span class="page-indicator facs-PA1"> (Page 4) </span> <br />
            Y en arboledas y en lugares elevados <br />
            los alabaste. En tu <br />
            idolatría tú te postraste <br />
            en el suelo ante ellos, y los tronos <br />
            de tus ídolos fueron puestos al <br />
            sol. Tú mostraste al <br />
            sol tu vergüenza y a la luna <br />
            tu locura. <br />
        '
    ],
    [
        '
            <span class="page-indicator facs-PA1"> (Page 5) </span> <br />
        ',
        '
            <span class="page-indicator facs-PA1"> (Page 5) </span> <br />
        '
    ],
    [
        '
            And the Man <del>answered</del> [↑ made answer] and said,  <br />
            "Even so did I." <br />
        ',
        '
            Y el Hombre <del>respondió</del> [↑ respondiendo] dijo:  <br />
            “Eso hice”. <br />
        '
    ],
    [
        '
            And a third time God opened <br />
            the Book of the Life of the Man, <br />
            and saw what was written <br />
            therein. <br />
        ',
        '
            Y por tercera vez Dios abrió <br />
            el Libro de la Vida del Hombre, <br />
            y vio lo que estaba escrito <br />
            adentro. <br />
        '
    ],
    [
        '
            And God said to the Man, <br />
            "Evil hath been thy life, and <br />
            with evil dids\'t thou <del>repay</del> [↑ requite] good, <br />
            and with wrongdoing <del>dids\'t thou <br />
            answer</del> kindness. The hands that <br />
            fed thee thou dids\'t wound, and <br />
            the breasts that <del>suckled thee</del> [↑ gave thee suck] thou  <br />
            dids\'t despise. <orig>With lying lips thou  <br />
            dids\'t kiss the mouth of truth, and <br />
            with a false tongue thou dids\'t <br />
            <del>answer</del> [↑ call on] Wisdom.</orig> He who <del>brought</del> [↑ came] <br />
            to thee [↓ with] a gift went away <br />
            empty, and those who hid thee <br />
            in their tents [↓ at night] thou dids\'t betray [↓ before dawn.] <br />
            Thine enemy who spared thee thou dids\'t <del>slay</del> [↑ snare] in an ambush, and  <br />
            thy friend who walked with <br />
            thee thou dids\'t sell for a <br />
            price, and to those who brought <br />
            thee Love thou dids\'t ever give <br />
            Lust in <del>answer</del> [↑ payment]." <br />
        ',
        '
            Y Dios le dijo al Hombre: <br />
            “El mal ha sido tu vida, y con mal has <del>pagado</del> [↑ devuelto] el bien <br />
            y con fechorías <del>les has atendido</del> la bondad. Heriste las manos <br />
            que te alimentaron y <br />
            despreciaste el pecho que <del>amamantaste</del> [↑ te amamantó]. <br />
            Con labios embusteros besaste la boca de la verdad, y con una lengua falsa <del>respondiste</del> [↑ <br />
            llamaste] a la Sabiduría. El que <del>trajo</del> [↑ vino] <br />
            a ti <del>a</del> [↑ con] agua se fue sediento, y a <br />
            los forajidos que te escondieron en sus tiendas [↓ durante la noche], los traicionaste [↓ antes del <br />
            amanecer]. <br />
            Al enemigo que te perdonó la vida le <del>asesinaste en</del> [↑ tendiste] una emboscada, y <br />
            al amigo que te acompañó lo vendiste por unas <br />
            monedas, y a aquellos que te dieron <br />
            amor les respondiste [↑ correspondiste] <br />
            siempre con lujuria”. <br />
        '
    ],
    [
        '
            And the Man <del>answered</del> [↑ made answer] and <br />
            said, "Even so did I." <br />
        ',
        '
            Y el Hombre <del>respondió</del> [↑ respondiendo]  <br />
            dijo: “Eso hice”. <br />
        '
    ],
    [
        '
            <span class="page-indicator facs-PA1"> (Page 6) </span> <br />
        ',
        '
            <span class="page-indicator facs-PA1"> (Page 6) </span> <br />
        '
    ],
    [
        '
            And God [↓ closed the Book of the Life of the Man, and] said, "Surely I shall <br />
            send thee to Hell. Even unto Hell <br />
            shall I send thee." <br />
        ',
        '
            Y Dios [↓ cerró el Libro de la Vida del Hombre, y] dijo: “Está claro que te <br />
            enviaré al infierno. Justo al infierno <br />
            te enviaré”. <br />
        '
    ],
    [
        '
            And the Man <del>answered and said</del> [↑ cried out], <br />
            "Thou cans\'t not." <br />
        ',
        '
            Y el hombre respondió y dijo [↑ gritó]: <br />
            “No puedes”. <br />
        '
    ],
    [
        '
            And God said to the Man, <br />
            "Wherefore can I not send thee <br />
            to Hell, and for what reason?" <br />
        ',
        '
            Y Dios le dijo al Hombre: <br />
            “¿Cómo que Yo no puedo enviarte <br />
            al infierno?, ¿por qué razón?” <br />
        '
    ],
    [
        '
            <orig>[↓ And the Man made answer, and said,] "Because I have always lived  <br />
            in it." <del>answered the Man.</del></orig> <br />
        ',
        '
            <orig>[↓ Y el Hombre respondiendo dijo] “Porque en el infierno he vivido <br />
            <del>siempre”, respondió el Hombre.</del></orig> <br />
        '
    ],
    [
        '
            And there was silence in the <br />
            House of Judgment. <br />
        ',
        '
            Y hubo silencio en el <br />
            Tribunal. <br />
        '
    ],
    [
        '
            And after a space God spake, <br />
            and said to the Man, "Seeing that <br />
            I may not send thee to Hell, <br />
            surely I shall send thee to <br />
            Heaven. <del>Shall</del> Even unto Heaven shall  <br />
            I send thee." <br />
        ',
        '
            Y después de un momento habló Dios, <br />
            y le dijo al Hombre, “Ya que no puedo enviarte al infierno, <br />
            está claro que te enviaré al <br />
            cielo. Justo al cielo te enviaré”. <br />
        '
    ],
    [
        '
            And the Man <del>answered and said</del> [↑ cried out],  <br />
            "Thou cans\'t not." <br />
        ',
        '
            Y el hombre <del>respondió y dijo</del> [↑ gritó]: <br />
            “No puedes”. <br />
        '
    ],
    [
        '
            And God said to the Man, <br />
            "Wherefore can I not send thee to <br />
            Heaven, and for what reason?" <br />
        ',
        '
            Y Dios le dijo al Hombre: “¿Cómo que Yo no puedo enviarte a <br />
            cielo?, ¿por qué razón?” <br />
        '
    ],
    [
        '
            Parag. [↓ And the Man made answer and said,] "Because never, and in no place, <br />
            have I been able to imagine it." <br />
            <del>answered the Man.</del> <br />
        ',
        '
            <del>Parag.</del> [↓ Y el Hombre respondiendo dijo] “Porque nunca, ni en ningún lugar, <br />
            he podido imaginarlo”, <br />
            <del>contestó el hombre.</del> <br />
        '
    ],
    [
        '
            And there was silence in the House of Judgment. <br />
        ',
        '
            Y hubo silencio en el Tribunal. <br />
        '
    ],
    [
        '
            Oscar Wilde.
        ',
        '
            Oscar Wilde.
        '
    ]
]
%}

<style>
.page-indicator {
  display: block;
  width: 30%;
  margin-left: auto;
  font-weight: bold;
}
.wilde-document-link {
  margin-right: 15px;
}
.facs-page {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}
</style>

{% if links.length > 0  %}
<h4 class="text-center">Referencias externas del documento</h4>
{% endif %}

<!-- Links rendered on Top -->
<div id="links-container">
    <ul>
        {% for link in links %}
            <li class="text-center">
                <a class="wilde-document-link" href="{{ link.href }}" target="_blank">{{ link.legend }}</a>
                <span class="facs-page">{{ link.facsPage }}</span>
            </li>
        {% endfor %}
    </ul>
</div>

<div id="document-content">
    <!-- The document -->
    {% for row in document %}
        <div class="row">
            {% set isFirstRow = loop.first %}

            {% for paragraph in row %}
                {% if isFirstRow %}
                    {% set title = paragraph %}
                    <div class="six columns">
                        <h2>{{ title }}</h2>
                    </div>
                {% else %}
                    <div class="six columns">
                        <p class="indent-first">{{ paragraph | safe }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
