--- 
layout: _layouts/_documents-base-layout
---

<style>
h1 {
    color: #222;
}
h2 {
    text-align: center;
    color: #444;
}
p {
    text-align: justify;
}
</style>


<h1 class="text-center">{{ pageTitle }}</h1>

<section class="poems">{{ content | safe }}</section>

<section class="document-source twelve columns">
    <h5 class="text-center">Referencia</h5>
    <p class="text-center">El XML TEI asociado a este documento se puede encontrar <a href="{{ xmlFileLink }}">en el siguiente enlace</a></p>
</section>
