--- 
layout: _layouts/_base-layout
---

<!-- Rendered content -->
{% for row in poem %}
    <div class="row">
        {% set isFirstRow = loop.first %}
        {% for paragraph in row %}
            {% set columnsAmmount = loop.length %}

            {% if isFirstRow %}
                {% set title = paragraph %}
                {# Differenciate between columns with 2, 3 and 4 rows #}
                {% if columnsAmmount <= 2 %}
                    <div class="six columns">
                        <h2>{{ title }}</h2>
                    </div>
                {% elif columnsAmmount == 3 %}
                    <div class="four columns">
                        <h2>{{ title }}</h2>
                    </div>
                {% elif columnsAmmount == 4 %}
                    <div class="three columns">
                        <h2>{{ title }}</h2>
                    </div>
                {% endif %}
            {% else %}
                {# Differenciate between columns with 2, 3 and 4 rows #}
                {% if columnsAmmount <= 2 %}
                    <div class="six columns">
                        <p class="indent-first">{{ paragraph | safe }}</p>
                    </div>
                {% elif columnsAmmount == 3 %}
                    <div class="four columns">
                        <p class="indent-first">{{ paragraph | safe }}</p>
                    </div>
                {% elif columnsAmmount == 4 %}
                    <div class="three columns">
                        <p class="indent-first">{{ paragraph | safe }}</p>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}
