--- 
layout: _layouts/_base-layout
pageTitle: Proyecto
---

<style>
    .title {
        text-align: center;
    }
    main p {
        text-align: justify;
    }
</style>
<h1 class="title">Proyecto</h1>
<main>
    <section id="project-description">
        <p>
            <em>El Semillero de Investigación en Poética y traducción</em>, adscrito al Pregrado en Literatura de la Universidad
                EAFIT, es un espacio que reúne prácticas propias de la investigación académica formal y aquellas constitutivas de los
                talleres creativos, buscando incentivar a los estudiantes a vincularse a procesos de investigación-creación que tengan
                un alto impacto en su formación profesional. Con ese fin, nos propusimos realizar esta edición digital de nuestra
                traducción colectiva de los Poems in Prose (1894) de Oscar Wilde (1854-1900), tras haber cumplido con un proceso de
                fijación del texto de partida y de discusión en sesiones grupales de traducción. Posteriormente, concebimos un producto
                que constituyera una oportunidad de apropiación social del conocimiento de obras menos familiares para hispanohablantes
                y que pudiera ser ampliamente difundido en el campo de influencia cultural de la Universidad EAFIT, por lo que nos
                decantamos por esta Edición Digital, que contó con el apoyo del programa de “Pequeños proyectos” de la Vicerrectoría de
                Descubrimiento y Creación.
        </p>
        <p>En nuestra edición de los “Poemas en prosa” hemos decidido editar y traducir las versiones que el poeta portugués
            Fernando Pessoa (1888-1935), lector asiduo del creador de Dorian Gray, realizó de algunos de estos poemas —aunque no
            llegara nunca a publicarlas—, presentando el texto en portugués y nuestra traducción del mismo, junto con el texto
            original en inglés y su respectiva traducción al español en un modelo de cuatro columnas paralelas. Así, pensamos,
            resulta más claro para el lector que la traducción es un juego de posibilidades de lectura y de énfasis de
            interpretación, cuyas posibilidades de renovación y el diálogo que el texto traducido establece con el texto fuente se
            mantienen abiertas en el tiempo. Estos materiales han sido codificados en formato XML, siguiendo el protocolo
            <a href="https://tei-c.org/guidelines/">TEI (Textual Encoding Initiative)</a>
        </p>
        <p>Además, ofrecemos al lector una sección llamada Documentos, en la que es posible visualizar los manuscritos de los
            textos originales, tanto de Wilde como de Pessoa —conservados en la Morgan Library de Nueva York y en la Biblioteca
            Nacional de Portugal, respectivamente—, junto con transcripciones diplomáticas, que permiten acompañar diferentes etapas
            de la composición y su revisión, con el fin de acercar al lector al proceso creativo tras los que fueron fijados en la
            publicación. Este tipo de documentos puede ayudar a vislumbrar a los autores en medio de la 'lucha con el sentido', como
            la llamaba Paul de Man, que es reencarnada por sus traductores.</p>
    </section>
    <section>
        <h2>Traducción colectiva</h2>
        <p>Aprovechando el espacio de confluencia que ofrece el semillero, la traducción colectiva fomenta la interacción de
            diferentes competencias individuales, asociadas a la interpretación de textos, la tecnificación del vocabulario y la
            argumentación acerca de perspectivas personales frente a elementos polisémicos o ambiguos en contextos deliberativos.</p>
    </section>
    <section>
        <h1>Participantes</h1>
        <ul>
            <li>María Antonia Blandón</li>
            <li>Adriana García</li>
            <li>Maria José Galeano</li>
            <li>Danilo Penagos</li>
            <li>Sara González</li>
            <li>Sara Zuluaga</li>
            <li>Carmiña Cadavid</li>
            <li>Andrea López</li>
            <li>Juliana Correa</li>
            <li>Jackeline Quintana</li>
            <li>Anderson Zapata</li>
            <li>Cristian Suárez-Giraldo</li>
            <li>Jorge Alberto Uribe</li>
        </ul>
    </section>
    <section>
        <h1>Apoyo</h1>
        <p>Con el apoyo de:</p>
        <ul>
            <li><a href="https://www.eafit.edu.co/pregrado-literatura">El pregrado en Literatura de la Universidad EAFIT</a></li>
            <li><a href="https://www.eafit.edu.co/programas-academicos/posgrado/maestria-hermeneutica-literaria/Paginas/inicio.aspx">La
                maestría en Hermenéutica Literaria de la Universidad EAFIT</a></li>
        </ul>
    </section>
    <section class="about-us">
        <h1>Nosotros</h1>
        <p>Conoce más sobre nosotros en:</p>
        <a href="https://www.eafit.edu.co/investigacion/semilleros/Paginas/Semillero-de-Investigaci%c3%b3n-en-Po%c3%a9tica-y-Traducci%c3%b3n.aspx">
        https://www.eafit.edu.co/investigacion/semilleros/Paginas/Semillero-de-Investigaci%c3%b3n-en-Po%c3%a9tica-y-Traducci%c3%b3n.aspx</a>
    </section>
</main>