---
layout: _layouts/_documents-layout
pageTitle: El artista primera - Fernando Pessoa 
xmlFileLink: /xml/documentos/pessoa/Documento_Pessoa_El_artista_Primera.xml
---

<!-- Document Content (Please avoid trailing commas as it cause rendering errors) -->

<!-- Images rendered on Top -->
{% set images = [ 
        { 
            src: "/assets/img/facsimiles/Pessoa-O_Artista_primeira_v.jpg",
            href: "/assets/img/facsimiles/Pessoa-O_Artista_primeira_v.jpg",
            legend: "Pessoa O Artista Primera Versão",
            facsPage: "[BNP 94-11r]",
            alt: "Pessoa - El Artista Primera Versão"
        }
    ] 
%} 


<!-- The document -->
{% set document = [
    [ "O artista", "El artista" ],
    [
        '
            <span class="page-indicator facs-PA1"> [BNP 94-11r] </span> <br />
            Uma noite entrou-lhe na alma o desejo de /moldar/ uma  <br />
            imagem do de o <span class="underline">Prazer que dura um Momento</span>. E foi correr □  <br />
            mundo á procura de bronze. Porque so em bronze elle podia pensar. <br />
        ',
        '
            <span class="page-indicator facs-PA1"> [BNP 94-11r] </span> <br />
            Una noche le entró en el alma el deseo de /moldar/ una <br />
            imagen del [↑ de el] <span class="underline">Placer que dura un Momento</span>. Y fue correr □   <br />
            el mundo en busca de bronce. Porque solo [↑ em] bronce él podía pensar. <br />
        '
    ],
    [
        '
            Mas todo o bronze em todo o mundo [↑ do mundo inteiro] tinha desapparecido, nem em  <br />
            parte alguma do mundo se podia encontrar [↑ encontrava] bronze, salvo o bronze da  <br />
            da imagem da <span class="underline">Dór que dura eternamente [↑ para sempre].</span> <br />
        ',
        '
            Pero todo el bronce en todo el mundo [↑ del mundo entero] había desaparecido, ni en <br />
            cualquier parte del mundo se podía encontar [↑ se encontraba] bronce, salvo el bronce  <br />
            de la imagen del <span class="underline">Dolor que dura eternamente [↑ para siempre].</span> <br />
        '
    ],
    [
        '
            Ora esta imagem elle proprio, e com sua proprias mãos mol- <br />
            dára, e a puzera sobre tumulo da unica cousa que amára  <br />
            em [↑ na] vida. Sobre o tumulo da cousa morta que mais amára  <br />
            fez (collocou) esta imagem de seu moldar, para que servisse  <br />
            de signal [↑ amostra] do amor humano que não morre, e de symbolo  <br />
            da dór humana que dura eternamente para sempre. E em todo o mundo [↑ no mundo inteiro] <br />
            não havia outro bronze senão o bronze d’esta imagem. <br />
        ',
        '
            Entonces esta imagen él mismo, y con sus propias manos, mol- <br />
            eara, y la pusiera sobre el túmulo de la única cosa que amara  <br />
            en [↑ en la] vida. Sobre el túmulo de la cosa muerta que más amara <br />
            hizo (colocó) esta imagen de su moldear, para que sirviera  <br />
            de señal [↑ demostración] del amor humano que no muere, y de símbolo  <br />
            del dolor humano que dura eternamente [↑ para siempre]. Y en todo el mundo [↑ en el mundo entero] <br />
            no había más bronce sino el bronce de esta imagen. <br />
        '
    ],
    [
        '
            E elle pegou na imagem que talhara [↑ moldara] e pôl-a n’uma grande <br />
            fornalha e deu-a ao fogo. <br />
        ',
        '
            Y él tomó la imagen que tallara [↑ moldeara] y la puso en una gran  <br />
            fragua y la dio al fuego. <br />
        '
    ],
    [
        '
            E do bronze da imagem da Dór que dura para sempre moldou <br />
            uma imagem do Prazer que dura um /só/ momento. <br />
        ',
        '
            Y del bronce de la imagen del Dolor que dura para siempre moldeó  <br />
            una imagen del Placer que dura /solo/ un momento. <br />
        '
    ]
]
%}



<style>
#images-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}

#images-container > div {
    min-width: 300px;
    width: 45%;
}

@media screen and (max-width: 650px) {
    #images-container > div {
        flex-grow: 0.5;
    }
}

.page-indicator {
  display: block;
  width: 30%;
  margin-left: auto;
  font-weight: bold;
}

.facs-page {
  font-weight: bold;
}

.pessoa-document-legend {
  margin-right: 15px; 
}

.underline {
  text-decoration: underline;
}
</style>

<h4 class="text-center">Imágenes Adjuntas</h4>


<!-- Images rendered on Top -->
<div id="images-container">
    {% for image in images %}
        <div>
            <div class="image">
                <a href="{{ image.href }}">
                    <img
                        src="{{ image.src }}"
                        alt="{{ image.alt }}"
                        width="100%"
                    />
                </a>
            </div>
            <div class="legend-container text-center">
                <p class="text-center pessoa-document-legend">
                    <span class="pessoa-document-legend">{{ image.legend }}</span> 
                    <span class="facs-page">{{ image.facsPage }}</span>
                </p>  
            </div>
        </div>
    {% endfor %}
</div>

<div id="document-content">
    <!-- The document -->
    {% for row in document %}
        <div class="row">
            {% set isFirstRow = loop.first %}

            {% for paragraph in row %}
                {% if isFirstRow %}
                    {% set title = paragraph %}
                    <div class="six columns">
                        <h2>{{ title }}</h2>
                    </div>
                {% else %}
                    <div class="six columns">
                        <p class="indent-first">{{ paragraph | safe }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
