---
layout: _layouts/_documents-pessoa
pageTitle: El maestro - Fernando Pessoa 
xmlFileLink: /xml/documentos/pessoa/Documento_Pessoa_El_maestro.xml
images: [ 
    { 
        src: "/assets/img/facsimiles/Pessoa-O_mestre_1.jpg",
        href: "/assets/img/facsimiles/Pessoa-O_mestre_1.jpg",
        legend: "Pessoa El Maestro 1",
        facsPage: "[BNP 94-14r]",
        alt: "Pessoa - El Maestro - Imagen 1"
    },
    { 
        src: "/assets/img/facsimiles/Pessoa-O_mestre_2.jpg",
        href: "/assets/img/facsimiles/Pessoa-O_mestre_2.jpg",
        legend: "Pessoa El Maestro 2",
        facsPage: "[BNP 94-15r]",
        alt: "Pessoa - El Maestro - Imagen 2" 
    }
]

document: [
    [ "O mestre", "El maestro" ],
    [
        '<span class="page-indicator facs-PM1"> [BNP 94-14r] </span> <br />',
        '<span class="page-indicator facs-PM1"> [BNP 94-14r] </span> <br />'
    ],
    [
        '
            Ora quando as sombras cahiam <br />
            sobre a terra, José de Arimathéa, <br />
            tendo accendido um archote de <br />
            desceu do monte para o val- <br />
            le. Porque tinha de que tratar em  <br />
            sua casa. <br />
        ',
        '
            Entonces cuando las sombras caían <br />
            sobre la tierra, José de Arimatea, <br />
            habiendo encendido una antorcha de <br />
            pino, descendió del monte hacia el val- <br />
            le. Porque tenía de que encargarse en  <br />
            su casa. <br />
        '
    ],
    [
        '
            E ajoelhando nos seixos do Valle <br />
            da Desolação, viu um jovem que <br />
            estava nú e chorando. O seu <br />
            cabello tinha a cór do mel e o <br />
            seu corpo era como uma branca <br />
            flór, mas rasgára o seu corpo com  <br />
            espinhos e sobre o seu cabello  <br />
            deitára cinzas como uma corôa. <br />
        ',
        '
            Y arrodillándose en los guijarros del Valle  <br />
            de la Desolación, vio a un joven que  <br />
            estaba desnudo y llorando. Su  <br />
            cabello tenía el color de la miel y  <br />
            su cuerpo era como una blanca  <br />
            flor, pero rasgara su cuerpo con  <br />
            espinos y sobre su cabello  <br />
            echara cenizas como una corona. <br />
        '
    ],
    [
        '
            E o que tinha grandes rique- <br />
            zas disse ao jovem que estava nú <br />
            e chorando: Não me admira que <br />
            a tua magoa seja tão grande, <br />
            porque com certeza e/E\lle era um  <br />
            justo. <br />
        ',
        '
            Y el que poseía grandes rique- <br />
            zas le dijo al joven que <br />
            estaba desnudo y llorando: No me sorprende que <br />
            tu pena sea tan grande,  <br />
            porque ciertamente é/É\l era un  <br />
            justo. <br />
        '
    ],
    [
        '
            E o jovem respondeu: Não é <br />
            por Elle que eu choro mas por <br />
            <span class="page-indicator facs-PM2"> [BNP 94-15r] </span> <br />
            mim. Eu tambem mudei agua <br />
            em vinho, e curei o leproso, e dei <br />
            vista ao cego. Andei sobre as a- <br />
            aguas e dos que moram nos Tumu- <br />
            los mandei sahir os demonios. Ali- <br />
            mentei os famintos no deserto  <br />
            onde não havia alimento, e le- <br />
            vantei os mortos das suas casas  <br />
            estreitas, e deante de uma gran- <br />
            de multidão uma figueira esteril <br />
            seccou. Tudo o que este homem <br />
            fez, fiz eu tambem. E a mim <br />
            não me crucificaram. <br />
        ',
        '
            Y el joven le respondió: No es <br />
            por Él que lloro sino por  <br />
            <span class="page-indicator facs-PM2"> [BNP 94-15r] </span> <br />
            mí. Yo también cambié el agua  <br /> 
            por vino, y curé al leproso, y le di  <br />
            la vista al ciego. Anduve sobre las a- <br />
            guas y de los que habitan en los Sepul <br />
            -cros mandé salir a los demonios. Ali- <br />
            menté a los hambrientos en el desierto  <br />
            donde no había alimento, y le- <br />
            vanté a los muertos de sus  casas  <br />
            estrechas, y ante una gran  <br />
            multitud una higuera estéril  <br />
            se secó. Todo lo que este hombre  <br />
            hizo, yo lo hice también. Y a mí  <br />
            no me crucificaron. <br />
        '
    ]
]
---