---
layout: _layouts/_documents-pessoa
pageTitle: El que hacía el bien - Fernando Pessoa 
xmlFileLink:
images: [ 
    { 
        src: "/assets/img/facsimiles/Pessoa_O_que_fazia_o_bem_1.jpg",
        href: "/assets/img/facsimiles/Pessoa_O_que_fazia_o_bem_1.jpg",
        legend: "Pessoa O que fazia o bem 1",
        facsPage: "[BNP 27(23)-13r]",
        alt: "Pessoa - O que fazia o bem - Imagen 1"
    },
    { 
        src: "/assets/img/facsimiles/Pessoa_O_que_fazia_o_bem_2.jpg",
        href: "/assets/img/facsimiles/Pessoa_O_que_fazia_o_bem_2.jpg",
        legend: "Pessoa O que fazia o bem 2",
        facsPage: "[BNP 27(23)-13v]",
        alt: "Pessoa - O que fazia o bem - Imagen 2" 
    }
]

document: [
    [ "O que fazia o bem", "El que hacía el bien" ],
    [
        '<span class="page-indicator facs-PA1"> [27(23)-13r] </span> <br />',
        '<span class="page-indicator facs-PA1"> [27(23)-13v] </span> <br />'
    ],
    [
        '
            <span class="page-indicator facs-PA1"> [27(23)-13r] </span> <br />
            Era noite e Elle estava só. 
        ',
        '
            <span class="page-indicator facs-PA1"> [27(23)-13r] </span> <br />
            Era de noche y Él estaba solo. 
        '
    ],
    [
        '
            E Elle viu de longe os muros de uma cidade <br /> 
            e avançou para a cidade. 
        ',
        '
           Y Él vio de lejos los muros de una ciudad <br />
           y avanzó hacia la ciudad. 
        '
    ],
    [
        '
            E quando Se approximou ouviu dentro da cidade o <br />
            pisar dos pés de [↑ da] alegria, e o riso da louca do prazer, <br />
            e o som □ de muita □. E bateu á porta e <br />
            alguns dos porteiros abriram-na. 
        ',
        '
            Y cuando Se aproximó oyó dentro de la ciudad el <br />
            pisar de los pies de alegría, y la risa de la loca de placer, <br />
            y el sonido □ de mucha □. Y tocó la puerta y <br />
            algunos de los porteros la abrieron. 
        '
    ],
    [
        '
            E Elle viu uma casa que era de marmore e <br />
            tinha adeante bellas colunas de mármore. 
            Das colunas pendiam grinaldas e dentro e fora havia <br />
            archotes de cedro. E Elle entrou. 
        ',
        '
            Y Él vio una casa que era de mármol y <br />
            tenía adelante bellas columnas de mármol. 
            De las columnas pendían guirnaldas y dentro y fuera había <br />
            antorchas de cedro. Y Él entró. 
        '
    ],
    [
        '
            E quando tinha atravessado a sala de <br />
            calcedonia e a sala de jaspe e chegado á grande sala <br />
            do banquete, viu deitado n'um leito de purpura <br />
            um cujo cabello estaba lavado de rosas e cujos labios <br />
            estavam roxos de vinho. 
        ',
        '
            Y cuando hubo atravesado el salón de <br />
            calcedonia y el salón de jaspe y llegado al gran salón <br />
            del banquete, vio acostado en un lecho púrpura <br />
            un hombre cuyo cabello estaba lavado de rosas y cuyos labios <br />
            estaban morados de vino. 
        '
    ],
    [
        '
            E Elle passou por tras e bateu-lhe no hombro <br />
            e disse-lhe «Porque vives tu assim?»  
        ',
        '
            Y Él pasó por detrás y le pegó en el hombro <br />
            y le dijo «¿Por qué vives tú así?»
        '
    ],
    [
        '
            E o jovem voltou-se e reconheceu-O, e, respondendo, <br />
            disse: «Mas em tempos eu era leproso e tu curaste-me. Como <br />
            hei-de eu viver senão assim?»
        ',
        '
            Y el joven se volteó y lo reconoció, y, respondiendo, <br />
            dijo: «Pero hace tiempo yo era leproso y tú me curaste. ¿Cómo <br />
            he de vivir si no así?»
        '
    ],
    [
        '
            E Elle saiu da casa e tornou outra vez para <br />
            a rua. 
        ',
        '
            Y Él salió de la casa y volvió otra vez a <br />
            la calle. 
        '
    ],
    [
        '
            E pouco depois viu Elle uma mulher cuja face e vestes <br />
            eram pintadas e cujos pés calçados de perolas.
            <span class="page-indicator facs-PA1"> [27(23)-13v] </span> <br />
            E atrás dela veio [↑ vinha], lento como um caçador, um <br />
            jovem com uma capa de duas cores. Ora a face <br />
            da mulher era como a face bella de um ídolo <br />
            e os olhos do jovem estavam brilhantes de luxuria. 
        ',
        '
            Y poco después vio Él una mujer cuya cara y vestidos <br />
            estaban pintados y cuyos pies estaban calzados de perlas. 
            <span class="page-indicator facs-PA1"> [27(23)-13v] </span> <br />
            Y detrás de ella venía, lento como un cazador, un <br />
            joven con una capa de dos colores. Pues bien, la cara <br />
            de la mujer era como la cara bella de un ídolo <br />
            y los ojos del joven estaban brillantes de lujuria. 
        '
    ],
    [
        '
            E Elle seguiu depressa e tocando a [↑ na] mão do jovem, <br />
            disse-lhe «Porque fitas tu essa mulher e d'esse <br />
            modo?»
        ',
        '
            Y Él siguió de prisa y tocando la mano del joven, <br /> 
            le dijo «¿Por qué miras a esa mujer y de ese <br />
            modo?»
        '
    ],
    [
        '
            E o jovem, voltando-se e reconhecendo-O, disse «Mas <br /> 
            eu em tempos era cego, e Tu deste-me a vista. 
            Para que queres tu que eu olhe [↑ veja] senão para <br />
            isto?»
        ',
        '
            Y el joven, volteándose y reconociéndolo, dijo «Pero <br />
            yo hace tiempo era ciego, y Tú me diste la vista. 
            ¿Para qué quieres tú que yo vea si no para <br />
            esto?»
        '
    ],
    [
        '
            E Elle avançou, correndo, y tocou nas vestes pintadas <br />
            da mulher e disse lhe «Não há outro caminho <br />
            onde andar senão o caminho do pecado?» 
        ',
        '
            Y Él avanzó, corriendo, y tocó los vestidos pintados <br />
            de la mujer y le dijo «¿No hay otro camino <br />
            donde andar si no el camino del pecado?»
        '
    ],
    [
        '
            E a mulher voltando-se e reconhecendo-O, parou e disse: <br />
            «Mas tu perdoaste-me os meus pecados e o caminho é agradável»
        ', 
        '   Y la mujer volteándose y reconociéndolo, paró y le dijo: <br />
            «Pero tú me perdonaste mis pecados y el camino es agradable»
        '
    ],
    [
        '
            E Elle saiu da cidade.
        ',
        '
            Y Él salió de la ciudad.
        '
    ],
    [
        '
            E quando sahira da cidade viu sentado á <br />
            beira do caminho um jovem que chorava.
        ',
        '
            Y cuando salió de la ciudad vio sentado a la <br />
            orilla del camino un joven que lloraba.
        '
    ],
    [
        '
            E Elle avançou e tocando-lhe no cabello <br />
            comprido, disse-lhe «Porque choras tu?»
        ',
        '
            Y Él avanzó y tocándole el cabello <br />
            largo, le dijo «¿Por qué lloras tú?»
        '
    ],
    [
        '
            E o jovem levantando o olhar e reconhecendo-O <br />
            respondeu «Mas eu em tempos era morto y tu ergueste-me <br />
            dos mortos. Que hei-de eu fazer senão chorar?»
        ',
        '
            Y el joven levantando la vista y reconociéndolo <br />
            respondió «Pero yo hace tiempo estaba muerto y tú me levantaste <br />
            de los muertos. ¿Qué he de hacer yo si no llorar?»
        '
    ]
]
---