---
layout: _layouts/_documents-pessoa
pageTitle: El tribunal - Fernando Pessoa 
xmlFileLink: /xml/documentos/pessoa/Documento_Pessoa_El_tribunal.xml
images: [ 
    { 
        src: "/assets/img/facsimiles/Pessoa-A_casa_do_juizo_1.jpg",
        href: "/assets/img/facsimiles/Pessoa-A_casa_do_juizo_1.jpg",
        legend: "Pessoa El Tribunal 1",
        facsPage: "[BNP 94-14r]",
        alt: "Pessoa - El tribunal - Imagen 1"
    },
    { 
        src: "/assets/img/facsimiles/Pessoa-A_casa_do_juizo_2.jpg",
        href: "/assets/img/facsimiles/Pessoa-A_casa_do_juizo_2.jpg",
        legend: "Pessoa El Tribunal 2",
        facsPage: "[BNP 94-15r]",
        alt: "Pessoa - El tribunal - Imagen 2"
    },
    { 
        src: "/assets/img/facsimiles/Pessoa-A_casa_do_juizo_3.jpg",
        href: "/assets/img/facsimiles/Pessoa-A_casa_do_juizo_3.jpg",
        legend: "Pessoa El Tribunal 3",
        facsPage: "[BNP 94-15r]",
        alt: "Pessoa - El tribunal - Imagen 3"
    }
]

document: [
    [ "A Casa de Juizo", "El tribunal" ],
    [
        '
            <span class="page-indicator facs-PC1"> [BNP 94-14r] </span> <br />
        ',
        '
            <span class="page-indicator facs-PC1"> [BNP 94-14r] </span> <br />
        '
    ],
    [
        '
            E havia silencio na Casa de Juizo e o Homem apareceu <br />
            nú ante Deus. <br />
        ',
        '
            Y había silencio en El Tribunal y el hombre apareció desnudo <br />
            ante Dios. <br />
        '
    ],
    [
        '
            E Deus abriu o Livro da Vida do Homem. <br />
        ',
        '
            Y Dios abrió el Libro de la Vida del Hombre. <br />
        '
    ],
    [
        '
            E Deus disse ao Homem: “A tua vida tem sido [↑ foi] má, <br />
            e mostraste crueldade aos que precisavam <del>auxilio</del> [↑ socorro] e aos [↑ para os]  <br />
            que precisavam auxilio foste amargo e duro de coração. <br />
            Os pobres chamaram por ti e tu não ouviste, e os teus <br />
            ouvidos estavam cerrados contra [↑ ao] grito dos Meus afflictos. <br />
            Tiraste para ti a herança do orphão e <del>mandaste</del> [↑ fizeste entrar] <br />
            raposas na vinha do <del>teu</del> quintal do teu proximo [↑ vizinho]. Tiraste <br />
            o pão das creanças e deste-<del>mo</del>o a comer aos cães, e aos <br />
            Meus leprosos que viviam nos pantanos e tinham paz <br />
            e Me louvavam, tu os expulsaste para as estradas /reaes/ <br />
            e sobre a Minha terra de que eu te fiz derramaste  <br />
            sangue inocente." <br />
        ',
        '
            Y Dios le dijo al Hombre: "Tu vida ha sido mala [↑ fue], <br />
            y mostraste crueldad a los que necesitaban <del>auxilio</del> [↑ socorro] y a los [↑ con quienes]  <br />
            que pedían auxilio fuiste amargo y duro de corazón. <br />
            Los pobres te llamaron y tú no oíste, y tus <br />
            oídos se cerraron contra el [↑ al] grito de Mis afligidos. <br />
            Tomaste la herencia del huérfano y <del>mandaste</del> [↑ hiciste entrar] <br />
            zorros a la viña del <del>tu</del> quintal de tu prójimo [↑ vecino]. Quitaste <br />
            el pan a los niños y <del>se</del> lo diste de comer a los perros, y a <br />
            Mis leprosos que vivían en los pantanos y tenían paz <br />
            paz y Me adoraban, tú los expulsaste hacia los caminos /reales/ <br />
            y sobre Mi tierra, de la que te hice, derramaste <br />
            sangre inocente". <br />
        '
    ],
    [
        '
            E o Homem respondeu e disse: “Tudo isso eu fiz”. <br />
        ',
        '
            Y el hombre respondió y dijo: "Todo eso hice". <br />
        '
    ],
    [
        '
            E outra vez Deus abriu o Livro da Vida do Homem. <br />
        ',
        '
            Y Dios abrió otra vez el Libro de la Vida del Hombre. <br />
        '
    ],
    [
        '
            E Deus disse ao Homem: “A tua vida foi má, <br />
            e a Belleza que te /a/mostrei buscaste e *ao Bom que <br />
            eu escondi passaste por elle desprezando-o. Os muros <br />
            do teu /quarto/ eram pintados com imagens e do leito das <br />
            tuas abominações te levantavas ao som de flautas. <br />
            Levantaste 7 altares aos pecados que eu /permitira/  <br />
            e comeste do que não devias ter comido, e a purpura <br />
            das tuas vestes tinha bordados os 3 signaes da vergonha. <br />
            Os teus idolos não eram nem de ouro nem de prata que  <br />
            <span class="page-indicator facs-PC2"> [BNP 94-15r] </span> <br />
            duram, mas de carne que perece. Manchaste-lhes os <br />
            cabellos <del>com</del> perfume e puseste romãs nas suas mãos. <br />
            Manchaste-lhes os pés com açafrão e estendeste tapetes <br />
            ante elles. Com antimonio lhes tingiste as palpebras e <br />
            os corpos com ungiste de myrrha. Ante elles te in-
            clinaste até o chão e os thronos dos teus ídolos <br />
            estavam postos ao sol. Mostraste ao sol a tua <br />
            vergonha e á lua a tua loucura.” <br />
        ',
        '
            Y Dios le dijo al Hombre: "Tu vida fue mala, <br />
            y buscaste la Belleza que te <del>de</del>mostré y pasaste por el Bien que <br />
            yo escondí, despreciándolo. Los muros <br />
            de tu /cuarto/ estaban pintados con imágenes y del lecho de <br />
            tus abominaciones te levantabas al son de flautas. <br />
            Levantaste 7 altares a los pecados que /permitiera/ <br />
            y comiste de lo que no debías haber comido, y el púrpura <br />
            de tus vestiduras tenía bordadas las tres señales de la vergüenza. <br />
            Tus ídolos no eran de oro ni de plata, que <br />
            <span class="page-indicator facs-PC2"> [BNP 94-15r] </span> <br />
            duran, sino de carne, que perece. Les manchaste los <br />
            cabellos con perfume y pusiste granadas en sus manos. <br />
            Les manchaste los pies con azafrán y extendiste tapetes <br />
            ante ellos. Con antimonio les teñiste los párpados y <br />
            los cuerpos <del>con</del> ungiste de mirra. Te in-
            clinaste hasta el suelo ante ellos y sus tronos <br />
            estaban puestos al sol. Mostraste al sol tu <br />
            vergüenza y a la luna tu locura." <br />
        '
    ],
    [
        '
            E o Homem respondeu e disse: “Tudo isso eu fiz.” <br />
        ',
        '
            Y el hombre respondió y dijo: "Todo eso hice yo". <br />
        '
    ],
    [
        '
            E <del>uma</del> [↑ <del>por</del> pela] terceira vez Deus abriu o Livro da Vida do Homem. <br />
        ',
        '
            Y <del>una</del> [↑ <del>por</del> por la] tercera vez Dios abrió el Libro de la Vida del Hombre. <br />
        '
    ],
    [
        '
            E Deus disse ao Homem: “Má /fora/[↑ /foi/] a tua vida, e com  <br />
            o mal pagaste o bom e com maldade a doçura. <br />
            Ás mãos que te alimentaram feriste e aos seios que <br />
            te amamentaram desprezaste. O que veio para ti com <br />
            agua <del>deixas-te</del> foi de ti sedento e aos homens banidos <br />
            que te esconderam de noite nas suas tendas traiste <br />
            tu antes da madrugada. Ao teu inimigo que te <br />
            poupou □ n’uma ambuscada, e ao amigo  <br />
            que andava contigo vendeste por um preço e aos <br />
            que te trouxeram Amor deste em troca a Lu-
            xuria”. <br />
        ',
        '
            Y Dios le dijo al hombre: "Mala /fuera/ [↑ /fue/] tu vida, y con <br />
            el mal pagaste el bien y con maldad la dulzura. <br />
            A las manos que te alimentaron heriste y a los senos que <br />
            te amamantaron depreciaste. El que vino a ti con <br />
            agua <del>dejaste</del> se fue sediento y a los exiliados  <br />
            que te escondieron durante la noche en sus tiendas tu traicionaste <br />
            antes de la madrugada. Al enemigo que te <br />
            perdonó □ en una emboscada, y al amigo <br />
            que andaba contigo vendiste por un precio y a los <br />
            que te trajeron Amor les diste a cambio Lu
            juria”. <br />
        '
    ],
    [
        '
            E o Homem respondeu e disse: “Tudo isso eu <br />
            fiz." <br />
        ',
        '
            Y el hombre respondió y dijo: "Todo eso hice  <br />
            yo." <br />
        '
    ],
    [
        '
            E Deus fechou o Livro da Vida do Homem e disse: <br />
            "Por certo que te mandarei para o Inferno. Mesmo <br />
            para o Inferno te mandarei.” <br />
        ',
        '
            Y Dios cerró el Libro de la Vida del Hombre y dijo: <br />
            "Ciertamente he de mandarte al Infierno. Justo <br />
            al Infierno te mandaré". <br />
        '
    ],
    [
        '
            E o Homem gritou: “Não podes.” <br />
        ',
        '
            Y el hombre gritó: "No puedes". <br />
        '
    ],
    [
        '
            E Deus disse ao Homem: “Por que não te posso eu <br />
            mandar para o Inferno, e por que razão?” <br />
            <span class="page-indicator facs-PC3"> [BNP 94-15r] </span> <br />
            “Porque no Inferno tenho eu sempre vivido” respondeu o <br />
            Homem. <br />
        ',
        '
            Y Dios le dijo al hombre: "¿Por qué no te puedo yo <br />
            mandar al Infierno, y por qué motivo?" <br />
            <span class="page-indicator facs-PC3"> [BNP 94-15r] </span> <br />
            "Porque en el Infierno he vivido yo siempre ", respondió el <br />
            Hombre. <br />
        '
    ],
    [
        '
            E houve silencio na Casa de Juizo. <br />
        ',
        '
            Y hubo silencio en el Tribunal. <br />
        '
    ],
    [
        '
            E depois de um tempo Deus fallou e disse ao Homem: <br />
            “Visto que não te posso mandar para o Inferno, <br />
            por certo que te mandarei para o Céu. Mesmo para <br />
            o Céu te mandarei.” <br />
        ',
        '
            Y después de un tiempo Dios habló y le dijo al Hombre: <br />
            "Dado que no te puedo mandar al Infierno, <br />
            he de mandarte al Cielo. Justo al <br />
            Cielo te mandaré". <br />
        '
    ],
    [
        '
            E o Homem clamou: “Não podes.” <br />
        ',
        '
            Y el Hombre clamó: "No puedes". <br />
        '
    ],
    [
        '
            E Deus disse ao Homem: “Por que não te poderei <br />
            eu mandar para o Céu, e por que razão?” <br />
            “Porque nunca e em nenhum lugar pude <br />
            imaginal-o” respondeu o Homem.    <br />
        ',
        '
            Y Dios le dijo al Hombre: "¿Por qué no te podré <br />
            yo mandar al Cielo, y por qué motivo?" <br />
            "Porque nunca y en ningún lugar pude <br />
            imaginarlo", respondió el Hombre. <br />
        '
    ],
    [
        '
            E houve silencio na Casa de Juizo.   
        ',
        '
            Y hubo silencio en el Tribunal.
        '
    ]
]
---